:root {
  --font-color: #383D3E;
  --font-color-light: #888888;
  --font-color-placeholder: #4E5559;
  --background-color: #FFFFFF;
  --background-color-light: #E7E9EE;
  --link-color: #007AFF;
}

[data-theme="dark"] {
  --font-color: #FFFFFF;
  --font-color-light: #888888;
  --font-color-placeholder: #4E5559;
  --background-color: #131616;
  --background-color-light: #383D3E;
  --link-color: #007AFF;
}