$black-base: #383D3E;
$black-light:#4E5559;
$black-lighter:#888888;
$black-dark:#131616;
$black-low: #BCBCBC;

$overlay:#1316166f; // transparent
$shadow:#1316161d; // transparent

$white: #FFFFFF;
$white-light: #F5F6F8;
$white-base: #E7E9EE;
$white-darker: #F8FBFF;
$white-dark: #DADDE7;

$blue-base: #007AFF;