:root {
  --font-color: #4E4E66;
  --font-color-light: #98979C;
  --font-color-placeholder: #4E5559;
  --background-color: #F8F8F8;
  --background-color-light: #FFFFFF;
  --link-color: #537AD5;
}

[data-theme="dark"] {
  --font-color: #B5B7D0;
  --font-color-light: #3D3F58;
  --font-color-placeholder: #4E5559;
  --background-color: #181824;
  --background-color-light: #25273D;
  --link-color: #537AD5;
}