@import "../../../../shared/styles/variables.scss";

.todo-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &:hover &__icon {
    display: block !important;
  }

  h3 {
    flex: 1;
    max-width: 400px;

    &.completed {
      text-decoration: line-through;
      color: var(--font-color-light);
    }
  }

  &__icon {
    cursor: pointer;
    width: 16px;
    display: none;
  }
}
